<style>
body[data-theme="dark"] {
    background-color: #1c1c1c !important;
    color: #f0f0f0 !important;
    --color-code-background: #010101 !important;
    --color-code-foreground: #d0d0d0 !important;
    --color-foreground-secondary: var(--color-foreground-primary) !important;
    --color-foreground-muted: #CDCDCD !important;
    --color-background-secondary: var(--color-background-primary) !important;
    --color-background-hover: #666 !important;
    --color-brand-primary: #fff !important;
    --color-brand-content: #69C !important;
    --color-sidebar-link-text: #f7f7f7 !important;
    --color-sidebar-item-background--current: #666 !important;
    --color-sidebar-item-background--hover: #333 !important;
    --color-admonition-background: transparent !important;
    --color-admonition-title-background--note: var(--color-background-primary) !important;
    --color-admonition-title-background--tip: var(--color-background-primary) !important;
    --color-admonition-title-background--important: var(--color-background-primary) !important;
    --color-admonition-title-background--caution: var(--color-background-primary) !important;
    --color-admonition-title--note: #24598F !important;
    --color-admonition-title--tip: #24598F !important;
    --color-admonition-title--important: #C7162B !important;
    --color-admonition-title--caution: #F99B11 !important;
    --color-highlighted-background: #666 !important;
    --color-version-popup: #F29879 !important;
}
@media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) {
        background-color: #1c1c1c !important;
        color: #f0f0f0 !important;
        --color-code-background: #202020 !important;
        --color-code-foreground: #d0d0d0 !important;
        --color-foreground-secondary: var(--color-foreground-primary) !important;
        --color-foreground-muted: #CDCDCD !important;
        --color-background-secondary: var(--color-background-primary) !important;
        --color-background-hover: #666 !important;
        --color-brand-primary: #fff !important;
        --color-brand-content: #69C !important;
        --color-sidebar-link-text: #f7f7f7 !important;
        --color-sidebar-item-background--current: #666 !important;
        --color-sidebar-item-background--hover: #333 !important;
        --color-admonition-background: transparent !important;
        --color-admonition-title-background--note: var(--color-background-primary) !important;
        --color-admonition-title-background--tip: var(--color-background-primary) !important;
        --color-admonition-title-background--important: var(--color-background-primary) !important;
        --color-admonition-title-background--caution: var(--color-background-primary) !important;
        --color-admonition-title--note: #24598F !important;
        --color-admonition-title--tip: #24598F !important;
        --color-admonition-title--important: #C7162B !important;
        --color-admonition-title--caution: #F99B11 !important;
        --color-highlighted-background: #666 !important;
        --color-version-popup: #F29879 !important;
    }
}
</style>