# SPDX-FileCopyrightText: 2025 Canonical Ltd
# SPDX-License-Identifier: GPL-3.0-only

name: Redocly
on:
    push:
    pull_request:
jobs:
    redocly:
        runs-on: ubuntu-latest
        name: Lint and build
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Check API specification
              uses: docker://redocly/cli
              with:
                args: lint ./openapi.yaml
            - name: Build generated documentation
              uses: docker://redocly/cli
              with:
                args: build-docs ./openapi.yaml
            - name: Create dark mode version
              run: |
                cp redoc-static.html redoc-static-dark.html
                python3 tools/post-process.py redoc-static-dark.html tools/dark-theme.css "</head>"
            - name: Store generated artifact
              uses: actions/upload-artifact@v5
              with:
                  name: api-docs
                  path: |
                    redoc-static.html
                    redoc-static-dark.html
