# SPDX-FileCopyrightText: 2025 Canonical Ltd
# SPDX-License-Identifier: GPL-3.0-only

name: Redocly
on:
    push:
    pull_request:
jobs:
    redocly:
        runs-on: ubuntu-latest
        name: Lint and build
        container:
            image: redocly/cli
            volumes:
                - .:/spec
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Check API specification
              run: redocly lint ./openapi.yaml
            - name: Build generated documentation
              run: redocly build-docs ./openapi.yaml
            - name: Store generated artifact
              uses: actions/upload-artifact@v4
              with:
                  name: api-docs
                  path: redoc-static.html
